/* .categories-content{
    display: grid;
   

    grid-template-columns: auto auto;
  
} */


.categories-content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  margin: 100px auto;

  box-shadow: 5px 0px 10px 0px;
  height: 350px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.categories-content div {
  width: 100%;
}
img {
  width: 20%;
  height: 70%;
}
.categories-content-text {
  margin-left: 10px;
}
.categories-content-text p {
  color: darkgray;
}
