.IconsContainer {
    display: flex;
    justify-content: center;
  }
  
  .socialMediaIcons {
    display: flex;
    align-items: center;
  }
  
  .socialMediaIcons i {
    font-size: 24px;
    margin: 0 10px;
    color: white;
  }
  .socialMediaIcons > i:hover{
    color: #006048;
    transition: ease-in 1s;
  }
  /* Media Query for Tablets */
  @media (max-width: 768px) {
    .socialMediaIcons i {
      font-size: 20px;
      margin: 0 8px;
    }
  }
  
  /* Media Query for Mobile Devices */
  @media (max-width: 480px) {
    .socialMediaIcons i {
      font-size: 16px;
      margin: 0 6px;
    }
  }
  