
.IconsContainer{
    width:100px;
    margin-left: 50px;
    
}
.socialMediaIcons{
    color: #fff;
    justify-content: space-between;
    display: flex;
    width: 100px;

}

.socialMediaIcons i:hover{
    color: #006045;
    transition: ease-in 0.7s;
    cursor: pointer;

}